*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    font-family: "Inter", sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background 0.5s ease;
}

section{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #000000;
    opacity: 0.9;
    border-radius: 20px;
    padding: 20px;
    color: #ffffff;
}

.container2{
    margin-top: 20px;
}

.graus{
    margin-top: 15px;
}

.container3{
    margin-top: 8px;
    font-size: 17px;
}

.container4{
    display: flex;
    align-items: center;
}

.imagem-preview{
    width: 75px;
}

input{
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #7c7c7c2b;
    padding: 10px;
    color: white;
    width: calc(100% -100px);
}

.butao{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #7c7c7c2b;
    margin-left: 83px;
}

.img2{
    width: 15px;
}

footer{
    font-style: italic;
    color: white;
    text-align: center;
    background-color: #000;
    border-radius: 25px;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
    margin-top: 10px;
}

.nublado{
    text-transform: capitalize;
}

.flex-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -20px;
    
}

.flex-container a {
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
}

.flex-container a:hover {
    transform: scale(1.2);
}

.fa-youtube:hover {
    color: red;
}

.fa-instagram:hover {
    color: #E1306C;
}

.fa-github:hover {
    color: gray;
}

@media only screen and (max-width: 280px){
    .butao{
        display: inline;
        margin: auto;
        right: 20px;
    } 
}